.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: gray;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  background-color: gray;
  color: rgb(255, 255, 255);
  transition: .3s;

  &:hover {
    background-color: rgb(78, 78, 78);
  }
}

.home-page__wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}
