.home-page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--space-4);
}

.home-page__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--space-4);
}

.home-page__item {
  padding: var(--space-2) var(--space-4);
  background-color: var(--color-surface);
  border-radius: var(--radius);
  color: var(--color-text-inverse);
  text-decoration: none;
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    background-color: var(--color-surface-hover);
  }
}
