.title {
  margin-top: 5rem;
}

/* .board-row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
} */

.board {
  display: grid;
  grid-template: 5rem 5rem 5rem / 5rem 5rem 5rem;
  gap: 0.5rem;
}

.square {
  font-size: 3rem;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.3s;
}

.winMessage {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.winTitle {

}

.reset {
  font-size: 3rem;
  width: 10rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: 0.3s;
}
